// Color Variables
$primary-color: #ff4088;
$text-color: #333333;
$text-color-dark: #222222;
$text-color-light: #999999;
$body-color: #ffffff;
$border-color: #e2e2e2;
$black: #000000;
$white: #ffffff;
$light: #fbfbfb;

// Font Variables
$primary-font: 'Montserrat', sans-serif;
$icon-font: 'themify';
