.page-list {
  list-style-type: none;

  a {
    display: none;
  }

  ul {
    padding: 0;

    a {
      display: inline-block;
      padding: 7px 0;
      font-size: 20px;
    }
  }
}

.pagination {
  margin-top: 50px;
  justify-content: space-between;

  a {
    color: $primary;    font-size: 18px;
    font-weight: 500;
  }

  i {
    line-height: 1.6;
  }
}

// code-tab
.code-tabs {
  border: 1px solid $border-color;
  overflow: hidden;
  margin-bottom: 20px;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        text-decoration: none;
        font-weight: 500;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

