#content {
  @extend .container-lg;

  main {
    @extend .mb-0;
    aside {
      @extend .pe-0;
      @extend .pb-5;
      @extend .col-lg-3;
      @extend .col-md-4;
      @extend .d-none;
      @extend .d-md-block;
      @extend .border-end;
      @extend .border-light;
      @extend .border-5;
      @extend .pt-4;

      ul {

        @extend .list-inline;

        ul {
          @extend .list-inline;
          @extend .ms-3;
        }

      }

    }

    article {

      @extend .ps-5;
      @extend .col-lg-9;
      @extend .col-md-8;
      @extend .pb-5;
    }
  }

}

.page-list {
  list-style-type: none;

  a {
    display: none;
  }

  ul {
    padding: 0;

    a {
      font-size: 20px;
      display: inline-block;
      padding: 7px 0;
    }
  }
}

.pagination {
  justify-content: space-between;
  margin-top: 50px;

  a {
    font-size: 18px;
    font-weight: 500;
    color: $primary;
  }

  i {
    line-height: 1.6;
  }
}

// code-tab
.code-tabs {
  overflow: hidden;
  margin-bottom: 20px;
  border: 1px solid $border-color;

  .nav-tabs {
    margin-bottom: 0;

    .nav-item {
      padding-left: 0;
      border-right: 1px solid $border-color;

      .nav-link {
        font-weight: 500;
        text-decoration: none;
        border: 0;
      }

      &::before {
        display: none;
      }

      &.active {
        background: $primary;

        .nav-link {
          color: $white;
        }
      }
    }
  }

  .tab-content {
    padding: 20px 15px;
  }
}

