<section id="contributors" class="container-lg">
  <h4>Contributors to this newsletter:</h4>
  <ul>
    {{- range .contributors -}}
    <li>
      {{ .name }}&nbsp;
      {{ with .web }}
      <span class="badge badge-light">
        <a href="{{ . }}">WEB</a>
      </span>
      {{ end }}
      {{ with .github }}
      <span class="badge badge-light">
        <a href="{{ . }}">GITHUB</a>&nbsp;
      </span>
      {{ end }}
      {{ with .gitlab }}
      <span class="badge badge-light">
        <a href="{{ . }}">GITLAB</a>&nbsp;
      </span>
      {{ end }}
    </li>
    {{- end -}}
  </ul>
</section>
